
* {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.my_margin{
    margin-bottom: 1.5rem;
}

.my_size{
    font-size: 6px;
}

.header{
    margin-top: 56px;
}

.side-bar{
    padding-top: 5rem;
}

.side-bar{
    width: 60px;
    background-color: #051e34;
    height: 100%;
}

.big_container{
    height: 100vh;
}

.main{
    width: calc(100vw - 60px);
    height: 100vh;
}

.bg_secondary{
    background-color: #165bba ;

}

.bg_blue{
    background-color: #1b72e8;
}

.color_grey{
    color: #6d767e;
}

.border_grey{
    border-color: #868d94;
}

.img_size{
    width: 30px;
    margin-right: 0.5rem;
}

.bg_color_h2{
    background-color: #f7f7f7;
}

.my_width{
    width: 30%;
}
